version: '3.8'

services:
  # Serviço 1: Banco de Dados
  postgres:
    image: postgres:14-alpine
    container_name: driva_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    networks:
      - driva_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Serviço 2: n8n
  n8n:
    image: n8nio/n8n:latest
    container_name: driva_n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - driva_network

  # Serviço 3: API
  api:
    build: ./api
    container_name: driva_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=postgres
      # as mesmas variáveis do banco
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      - API_KEY=${API_KEY}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - driva_network

networks:
  driva_network:
    driver: bridge

volumes:
  postgres_data:
  n8n_data: